.bg{
  background: url('../images/Hero.png');  //不能用 bgi
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 380px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  margin-bottom: 121px;
  @include media-breakpoint-up(md){
    position: relative;
  }
}

.logo{
  margin: 250px 0 40px 0;

  @include media-breakpoint-up(md) {
    margin: 89px 0 96px 0;
  }

  a{
    display: block;
    color: #fff;
  }
}

.select-group{
  background: rgba(255, 255, 255, 0.7);
  border: 3px solid #fff;
  border-radius: 3px;
  width: 45%;
  height: 13%;
  line-height: 21px;
  padding: 0 10px;
  z-index: 1080;
  margin-bottom: 50px;

  @include media-breakpoint-up(md) {
    margin-bottom: 79px;
  }
}

.tabs-group{
  
  bottom: -280px;  //區塊往下

  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -100px;   //區塊往下
  }

  width: 78%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px 0 18px 80px;

  @include media-breakpoint-up(md) {
    padding: 20px 0 18px 26px;
  }
}

.tabs-list{
  display: inline-flex;
  gap: 12px;   //网格行与列之间的间隙


  li{
    white-space: nowrap; //文字以橫向顯示

    &:nth-child(1n) a{
      background-color: $secondary;
    }

    &:nth-child(2n) a{
      background-color: $third;
    }

    &:nth-child(3n) a{
      background-color: $four;
    }

    &:nth-child(4n) a{
      background-color: $primary;
    }
  }

  a{
    display: block;
    padding: 12px 34px;
    font-size: $h4-font-size;  //20px
    color: #fff;
  }
}

.hr{
  width: 88%;
  margin: 0 auto;
  border-bottom: 1px dashed $primary;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  a{
    display: flex;
    position: absolute;
    color: $primary;
    font-size: $h3-font-size;
    background-color: #fff;
  }

  @include media-breakpoint-up(md){
    position: relative;
    justify-content: center;
    align-items: center;
    a{
      display: flex;
      position: absolute;
      color: $primary;
      font-size: $h3-font-size;
      background-color: #fff;
    }
  }
}
